In [ ]:
#create series
import pandas as pd
age_series=pd.Series([19,24,30,41,53,62])
#print the series
print(age_series)

0    19
1    24
2    30
3    41
4    53
5    62
dtype: int64

In [ ]:
import numpy as np
import pandas as pd
salary_series_index=pd.Series(
    np.array([20000,12000,43000,45000,65000,66000]),
    index=np.arange(0,12,2)
)
salary_series_index

0     20000
2     12000
4     43000
6     45000
8     65000
10    66000
dtype: int64

In [ ]:
emp_series=pd.Series(
    np.array([20000,12000,43000,45000,65000,66000]),index=['A1','A2','A3','A4','A5','A6'])
emp_series

A1    20000
A2    12000
A3    43000
A4    45000
A5    65000
A6    66000
dtype: int64

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
prod_dict= ('Dairy': 23000, 'Soft Drinks': 45888, 'Fruits and Vegetables': 67888) prod_series= pd.Series(prod_dict)

prod_series

Dairy

Soft Drinks

23888

Keys as index

45000

67888

Fruits and Vegetables

dtype: int64

SyntaxError: ignored

In [ ]:
#create a dictionary

classes_dict={"X": ["Maths", "Science", "English"],
              "Y": ["Maths", "Science"],
              "Z":"Science"}

#convert the dictionary in series
classes_Series = pd.Series(classes_dict)

#print the series 
classes_Series

X    [Maths, Science, English]
Y             [Maths, Science]
Z                      Science
dtype: object

In [ ]:
#Accessing elements
emp_array=np.array(['A101','A102','A103','B101','B102','B103','C101','C102','C104'])
emp_id_series=pd.Series(emp_array)
print(emp_id_series[:5])

0    A101
1    A102
2    A103
3    B101
4    B102
dtype: object

In [ ]:
classes_series=pd.Series(classes_dict)
print(classes_series)
print("\n",classes_series['X'])

X    [Maths, Science, English]
Y             [Maths, Science]
Z                      Science
dtype: object

 ['Maths', 'Science', 'English']

In [ ]:
student_series=pd.Series(np.array([450,129,313,414,215,116]),index=['sophia','Emma','Mia','William','Lilly','Grace'])
student_series[student_series>300]

sophia     450
Mia        313
William    414
dtype: int64

In [ ]:
#creating simple array
sales_array=np.array([1200,3252,2233])
sales_series=pd.Series(sales_array)
sales_series*2

0    2400
1    6504
2    4466
dtype: int64

In [ ]:
#create 2 series
MRP_series=pd.Series([12,15,17])
sales_series=pd.Series([23,43,34])
#multiply both the series
total_amt_series=MRP_series.multiply(sales_series)
print(total_amt_series)

0    276
1    645
2    578
dtype: int64

In [ ]:
#create 2 arrays
english_array=np.array([67,82,93])
english_series=pd.Series(english_array)
maths_array=np.array([91,72,83])
maths_series=pd.Series(maths_array)
#perform addition
total_marks=english_series+maths_series
total_marks

0    158
1    154
2    176
dtype: int64

In [ ]:
score_array=np.array([121,212,153,214,115,116,237,118,219,120])
score_series=pd.Series(score_array)
score_series.rank()

0     5.0
1     7.0
2     6.0
3     8.0
4     1.0
5     2.0
6    10.0
7     3.0
8     9.0
9     4.0
dtype: float64

In [ ]:
import pandas as pd
sales_series=pd.Series([2223,3445,np.nan,3411,6223,8334,2155,np.nan,3314,3210])
sales_series.sort_values(ascending=True,na_position='last')

6    2155.0
0    2223.0
9    3210.0
8    3314.0
3    3411.0
1    3445.0
4    6223.0
5    8334.0
2       NaN
7       NaN
dtype: float64

In [ ]:
class1=np.linspace(start=0,stop=20,num=11)#create two series using linspace 
class2=np.linspace(start=1,stop=21,num=11)
class1_series=pd.Series(data=class1)
class2_series=pd.Series(data=class2)

In [ ]:
#concatenate using concat()
pd.concat([class1_series,class2_series])

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
0      1.0
1      3.0
2      5.0
3      7.0
4      9.0
5     11.0
6     13.0
7     15.0
8     17.0
9     19.0
10    21.0
dtype: float64

In [ ]:
pd.concat([class1_series,class2_series],keys=['Even','Odd'],names=['Category','Index'])

Category  Index
Even      0         0.0
          1         2.0
          2         4.0
          3         6.0
          4         8.0
          5        10.0
          6        12.0
          7        14.0
          8        16.0
          9        18.0
          10       20.0
Odd       0         1.0
          1         3.0
          2         5.0
          3         7.0
          4         9.0
          5        11.0
          6        13.0
          7        15.0
          8        17.0
          9        19.0
          10       21.0
dtype: float64

In [ ]:
class1_series.append(class2_series)

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
0      1.0
1      3.0
2      5.0
3      7.0
4      9.0
5     11.0
6     13.0
7     15.0
8     17.0
9     19.0
10    21.0
dtype: float64

In [ ]:
#list of strings
data_science=['python','Big Data','R','Machine Learning']
df=pd.DataFrame(data_science)
print(df)

                  0
0            python
1          Big Data
2                 R
3  Machine Learning

In [ ]:
#create a dataframe from a list
store_list=[['vivo',30000],['Oppo',40000],['Samsung',78000],['Apple',20000]]
df=pd.DataFrame(store_list,columns=['Store','Sales'])
df

     Store  Sales
0     vivo  30000
1     Oppo  40000
2  Samsung  78000
3    Apple  20000

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
pip install Xlsxwriter

Collecting Xlsxwriter
  Downloading XlsxWriter-3.0.3-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 26.3 MB/s
Installing collected packages: Xlsxwriter
Successfully installed Xlsxwriter-3.0.3