In [1]:
import pandas as pd
file=pd.read_csv("C:/Users/ASUS/data science calss/Social_Network_Ads (1).csv")
df=pd.DataFrame(file)
df

      User ID  Gender   Age  EstimatedSalary  Purchased
0    15624510    Male  19.0          19000.0          0
1    15810944    Male  35.0          20000.0          0
2    15668575  Female  26.0          43000.0          0
3    15603246  Female  27.0          57000.0          0
4    15804002    Male  19.0          76000.0          0
..        ...     ...   ...              ...        ...
395  15691863  Female  46.0          41000.0          1
396  15706071    Male  51.0          23000.0          1
397  15654296  Female  50.0          20000.0          1
398  15755018    Male  36.0          33000.0          0
399  15594041  Female  49.0          36000.0          1

[400 rows x 5 columns]

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    float64
 3   EstimatedSalary  400 non-null    float64
 4   Purchased        400 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 15.8+ KB

In [3]:
x=df.drop(["Gender"],axis=1)
x

      User ID   Age  EstimatedSalary  Purchased
0    15624510  19.0          19000.0          0
1    15810944  35.0          20000.0          0
2    15668575  26.0          43000.0          0
3    15603246  27.0          57000.0          0
4    15804002  19.0          76000.0          0
..        ...   ...              ...        ...
395  15691863  46.0          41000.0          1
396  15706071  51.0          23000.0          1
397  15654296  50.0          20000.0          1
398  15755018  36.0          33000.0          0
399  15594041  49.0          36000.0          1

[400 rows x 4 columns]

In [4]:
y=df["Gender"]  
y

0        Male
1        Male
2      Female
3      Female
4        Male
        ...
395    Female
396      Male
397    Female
398      Male
399    Female
Name: Gender, Length: 400, dtype: object

In [5]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
df['Age']=le.fit_transform(df["Age"])        # here using preprocessing we changing string value to numeric
df["Purchased"]=le.fit_transform(df["Purchased"])

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0)

In [7]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((320, 4), (80, 4), (320,), (80,))

In [8]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [9]:
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier(n_estimators=10,criterion='entropy',random_state=0)
classifier.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [10]:
y_pred=classifier.predict(x_test)

In [11]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
accuracy_score(y_test,y_pred)

0.525

In [12]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
confusion_matrix(y_test,y_pred)

array([[24, 16],
       [22, 18]], dtype=int64)

In [13]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
classification_report(y_test,y_pred)

'              precision    recall  f1-score   support\n\n      Female       0.52      0.60      0.56        40\n        Male       0.53      0.45      0.49        40\n\n    accuracy                           0.53        80\n   macro avg       0.53      0.53      0.52        80\nweighted avg       0.53      0.53      0.52        80\n'